.main{
    background-color:rgb(159, 185, 239);
}

.menu {
    width: 60%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    border-radius: 50px;

    background: linear-gradient(90deg, #98add4, #7497d3);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.menu-item {
    position: relative;
}

.menu-link {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.menu a {
    color: black;
    text-decoration:none;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    transition: 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menu a:hover {
    background: rgba(6, 64, 158, 0.2);
    border-radius: 20px;
}

.arrow {
    color: white;
    font-size: 0.7rem;
    cursor: pointer;
    transition: transform 0.2s;
    padding: 0 5px;
}
.quote-section{
    display:flex;
    justify-content:center;
    margin-top:30px;
}

.quote-box{
    width:90%;
    max-width:1400px;

    margin:40px auto;

    padding:35px 50px;

    background: linear-gradient(90deg, rgb(30, 60, 114), rgb(42, 82, 152));

    border-radius:35px;

    text-align:center;

    color:white;

    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    box-shadow:0 10px 30px rgba(0,0,0,0.25);
}

.quote-box:hover{
    transform:translateY(-8px);
    background:linear-gradient(90deg, rgb(30, 60, 114), rgb(42, 82, 152));
}
.skills-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    width:90%;
    margin:auto;
    
}

.skills-content{
    flex:1;
}

.skills-image {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.skills-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.skills-image:hover img {
  transform: scale(1.2);
}


.skill-item{
    display:flex;
    align-items:flex-start;
    gap:15px;
    margin:25px 0;
    font-size:26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:normal;
    opacity:0;
    transform:translateX(-80px);
    transition:all 0.8s ease;
}
.skill-item strong{
    font-weight:bold;
}
.skill-item.show{
    opacity:1;
    transform:translateX(0);
}

.tick{
    color:#eb4b0c;
    font-size:30px;
    font-weight:bold;
    flex-shrink:0;
}
.project-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.project-card{
    width:400px;
    background:white;
    border-radius:20px;
    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);

    transition:all 0.4s ease;

    opacity:0;
    transform:translateY(50px);
}

.project-card.show{
    opacity:1;
    transform:translateY(0);
}

.project-card:hover{
    transform:translateY(-10px) scale(1.03);
}

.project-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.project-card h3{
    font-size:18px;
    line-height:1.4;
    padding:10px;
}

.project-card p{
    font-size:14px;
    line-height:1.6;
}
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
}

.feature-box {
    flex: 1;
    min-width: 180px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    color: white;
    transition: 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.feature-box:hover {
    transform: translateY(-8px);
    background: rgba(255,255,255,0.2);
}
.ed{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
    font-size:50px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;


}
.edu-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    width:90%;
    margin:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}

.edu-details{
    flex:1;
}

.edu-map{
    flex:1;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    margin:35px 0;
}

.edu-item{
    display:flex;
    align-items:center;
    margin:35px 0;
    opacity:0;
    transform:translateX(-100px);
    transition:all 2s ease;
}

.edu-item.show{
    opacity:1;
    transform:translateX(0);
}

.edu-item:nth-child(1){
    animation-delay:0.2s;
}

.edu-item:nth-child(2){
    animation-delay:0.5s;
}

.edu-item:nth-child(3){
    animation-delay:0.8s;
}

.edu-item:nth-child(4){
    animation-delay:0.11s;
}

.bullet{
    width:25px;
    height:25px;
    border-radius:50%;
    margin-right:20px;
    flex-shrink:0;
}

.red{
    background:#ed6863;
}

.yellow{
    background:#fde164;
}

.green{
    background:#54af0a;
}

.blue{
    background:#ef0864;
}

.edu-item p{
    font-size:20px;
    margin:0;
    text-align:left;
}

@keyframes slideIn{
    from{
        opacity:0;
        transform:translateX(-80px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu-item.active .arrow {
    transform: rotate(180deg);
}
body{
    background-color: grey;
    font-family: Arial, sans-serif;
}

.form-box{
    width: 70%;
    max-width: 700px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.form-box h1{
    text-align: center;
    margin-bottom: 25px;
    font-family:cursive;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

input[type="submit"]{
    margin-top: 20px;
    background: #2a5298;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background: #1e3c72;
}

.mega-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    min-width: 450px;
    z-index: 200;
    gap: 2rem;
    margin-top: 0.8rem;
}


.mega-menu::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 16px;
    background: white;
    rotate: 45deg;
}

.menu-item.active .mega-menu {
    display: flex;
}

.mega-column {
    min-width: 180px;
}

.mega-column h4 {
    color: #333;
    margin-bottom: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 0.5rem;
}

.mega-column ul {
    list-style: none;
    padding: 0;
}

.mega-column li {
    color: #555;
    padding: 0.4rem 0;
    font-size: 0.85rem;
    cursor: pointer;
    transition: 0.2s;
}

.mega-column li:hover {
    color: #000;
    padding-left: 5px;
}
.p{
    font-size: 40px;
}


.snow-container{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events:none;
    overflow:hidden;
}

.snowflake{
    position:absolute;
    top:-10px;
    color:white;
    font-size:20px;
    animation: snowfall linear infinite;
}

.snowflake:nth-child(1){left:5%; animation-duration:5s;}
.snowflake:nth-child(2){left:10%; animation-duration:7s;}
.snowflake:nth-child(3){left:15%; animation-duration:4s;}
.snowflake:nth-child(4){left:20%; animation-duration:8s;}
.snowflake:nth-child(5){left:25%; animation-duration:5s;}
.snowflake:nth-child(6){left:30%; animation-duration:6s;}
.snowflake:nth-child(7){left:35%; animation-duration:4s;}
.snowflake:nth-child(8){left:40%; animation-duration:7s;}
.snowflake:nth-child(9){left:45%; animation-duration:5s;}
.snowflake:nth-child(10){left:50%; animation-duration:9s;}
.snowflake:nth-child(11){left:55%; animation-duration:6s;}
.snowflake:nth-child(12){left:60%; animation-duration:5s;}
.snowflake:nth-child(13){left:65%; animation-duration:8s;}
.snowflake:nth-child(14){left:70%; animation-duration:4s;}
.snowflake:nth-child(15){left:75%; animation-duration:7s;}
.snowflake:nth-child(16){left:80%; animation-duration:5s;}
.snowflake:nth-child(17){left:85%; animation-duration:10s;}
.snowflake:nth-child(18){left:90%; animation-duration:6s;}
.snowflake:nth-child(19){left:92%; animation-duration:8s;}
.snowflake:nth-child(20){left:95%; animation-duration:5s;}
.snowflake:nth-child(21){left:98%; animation-duration:7s;}

.error{
    color:red;
    font-size:14px;
    display:block;
    margin-top:5px;
}
@keyframes snowfall{
    from{
        transform:translateY(-10px);
    }
    to{
        transform:translateY(100vh);
    }
}
*{
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}
img{
    max-width:100%;
    height:auto;
}

video{
    max-width:100%;
    height:auto;
}
iframe{
    max-width:100%;
    height:auto;
}
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
    font-size:50px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero-image {
  width: 300px;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  border: 5px solid black;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.hero-image:hover img {
  transform: scale(1.2);
}


@media screen and (max-width:1024px){

    .hero{
        flex-direction:column;
    }

    .hero-image img{
        width:180px;
        display:block;
        margin:auto;
    }
}

    /* Video */
    video{
        width:100%;
    }

    /* Map */
    iframe{
        width:100%;
        height:250px;
    }

    /* Headings */
    h1{
        font: size 38px;
    }

    h2{
        font-size:22px;
    }

    /* Paragraphs and Lists */
    p, li, td{
        font: size 18px;;
    }

    /* Tables */
    table{
        width:100%;
    }

    td{
        text-align:center;
    }
